
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

#page_content {
	margin-top: 10px;
}

/*
.card {
	min-height: 15em;
}
*/

.gal_imgs,.create_previmgs {
	height: 100%;
	width: 100%;
}

main {
	flex: 1 0 auto;
}

#preview {
	min-height: 80%;
	min-width: 50%;
	border: 2px solid grey;
}

#d_notif {
	width: auto;
	background: rgb(35, 35, 35) none repeat scroll 0% 0%;
	opacity: 1;
}

#p_notif {
	margin: 0px;
	padding: 0px;
	color: rgb(255, 255, 255);
	font-size: 14px;
	font-weight: 300;
	line-height: 1em;
}

#b_notif {
	color: rgb(246, 100, 150);
}

/* { border: 1px solid black; } */
