<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<title>Camagru</title>
		<link rel="stylesheet" href="css/snackbar.css" />
		<link rel="stylesheet" href="css/materialize/css/materialize.css" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
	<body id="body">
		<header>
			<div class="navbar-fixed">
				<nav>
					<div class="nav-wrapper">
						<a href="" class="brand-logo">Camagru</a>
						<ul class="right">
							<li><a id="a_gallery" href="#gallery">Gallery</a></li>
							<li><a id="a_create" href="#create">Create</a></li>
							<li><a id="a_account" href="#account">Account</a></li>
							<li><a id="a_logout" href="#logout">Logout</a></li>
						</ul>
					</div>
				</nav>
			</div>
		</header>

		<h1>Your mail is now confirmed, you will be redirected to the login page soon …</h1>
		<h4>If you are not redirected, follow <a href="/#account">this link</a></h4>

		<!--
	  <footer class="page-footer">
	  <div class="container">
	  <a class="grey-text text-lighten-4 right" href="#!">thank to Materialize.css</a>
	  </div>
	  </footer>
		-->
	</body>
</html>
