
<div class="row">

	<form id="form_log" class="col s6" action="#">
		<h3 class="card-title">Connect</h3>

		<label for="username">Username</label>
		<input type="text" class="form-control" id="mail" aria-describedby="emailHelp" placeholder="Enter email">

		<label for="pass">Password</label>
		<input type="password" class="form-control" id="pass" placeholder="Password">

		<button id="btn_log" class="btn">Submit</button>
	</form>

	<form id="form_register" class="col s6" action="#">
		<h3 class="card-title">Register</h3>

		<label for="username">Username</label>
		<input type="text" id="username" aria-describedby="emailHelp" placeholder="Enter email">

		<label for="mail">Email address</label>
		<input type="email" id="mail" aria-describedby="emailHelp" placeholder="Enter email">

		<label for="mail_confirmation">Email confirmation</label>
		<input type="email" id="mail_confirmation" aria-describedby="emailHelp" placeholder="Enter email">

		<label for="pass">Password</label>
		<input type="password" id="pass" placeholder="Password">

		<label for="pass_confirmation">Password confirmation</label>
		<input type="password" id="pass_confirmation" placeholder="Password">

		<button type="submit" class="btn">Submit</button>
	</form>

</div>

<script src="js/form_to_xhr.js"></script>
